<% content = capture do %>
  <div class="text">
    <iframe style="margin:0;border:0;" width="884" height="350" src="https://maps.google.pl/maps?q=%C5%BBydowskie+Muzeum+Galicja+ul.+Dajw%C3%B3r+18,&amp;ie=UTF8&amp;hl=<%= I18n.locale %>&amp;hq=%C5%BBydowskie+Muzeum+Galicja+ul.+Dajw%C3%B3r+18,&amp;hnear=&amp;radius=15000&amp;t=m&amp;ll=50.050736,19.949508&amp;spn=0.006295,0.006295&amp;output=embed"></iframe><br /><small><a href="https://maps.google.pl/maps?q=%C5%BBydowskie+Muzeum+Galicja+ul.+Dajw%C3%B3r+18,&amp;ie=UTF8&amp;hl=<%= I18n.locale %>&amp;hq=%C5%BBydowskie+Muzeum+Galicja+ul.+Dajw%C3%B3r+18,&amp;hnear=&amp;radius=15000&amp;t=m&amp;ll=50.050736,19.949508&amp;spn=0.006295,0.006295&amp;source=embed" style="text-align:left"><%= t 'words.show_larger_map' %></a></small>
  </div>

  <div class="left">
    <h2><%= t 'page.contact.we_are_here.title' %></h2>
    <div class="text">
      <%= t 'page.contact.we_are_here.description_html' %>
    </div>
  </div>
  <div class="right">
    <h2><%= t 'page.contact.write_to_us.title' %></h2>
    <div class="text">
      <%= t 'page.contact.write_to_us.description_html' %>
    </div>
  </div>
<% end %>

<%= render 'layouts/header',
  first_header: false,
  number: 4,
  id: 'contact',
  title: t('page.contact.title'),
  right_box: nil,
  content: content
%>
