<% content = capture do %>
  <div class="text">
    <iframe width="884" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?q=50.075144,19.997772&amp;num=1&amp;t=m&amp;hl=pl&amp;ie=UTF8&amp;ll=50.074934,19.998894&amp;spn=0.01928,0.075874&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.pl/maps?q=50.075144,19.997772&amp;num=1&amp;t=m&amp;hl=pl&amp;ie=UTF8&amp;ll=50.074934,19.998894&amp;spn=0.01928,0.075874&amp;z=14&amp;source=embed" style="text-align:left">Wyświetl większą mapę</a></small>
  </div>

  <div class="left">
    <h2><%= t 'page.contact.we_are_here.title' %></h2>
    <div class="text">
      <%= t 'page.contact.we_are_here.description_html' %>
    </div>
  </div>
  <div class="right">
    <h2><%= t 'page.contact.write_to_us.title' %></h2>
    <div class="text">
      <%= t 'page.contact.write_to_us.description_html' %>
    </div>
  </div>
<% end %>

<%= render 'layouts/header',
  first_header: false,
  number: 4,
  id: 'contact',
  title: t('page.contact.title'),
  right_box: nil,
  content: content
%>
