<% content = capture do %>
  <% unless @organizers.nil? %>
    <% @organizers.each do |organizer| %>
      <div class="speaker_container" id="organizer_<%= organizer.id %>">
        <div class="left">
          <%= speaker_photo("speakers/#{organizer.id}.jpg") %>
        </div>
        <div class="right">
          <h2><%= organizer.name %></h2>
          <div class="text">
            <%= text organizer.description %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="text">
      <%= t 'common.coming_soon' %>
    </div>
  <% end %>
<% end %>

<%= render 'layouts/header',
  first_header: false,
  number: 5,
  id: 'organizers',
  title: t('page.organizers.title'),
  right_box: nil,
  content: content
%>
