<% content = capture do %>
  <% if @schedules.size > 0 %>
    <%
    # config vars
    counter = 1; start_hour = 8; end_hour = start_hour + 11
    %>
    <div class="box text">
      <table class="schedule">
        <tr class="header">
          <td class="topic"></td>
          <% (start_hour..end_hour).each do |hour| %>
            <td><%= hour %></td>
          <% end %>
        </tr>
        <% @schedules.each do |schedule| %>
          <tr class="row<%= put_if_even_parity(' gray_bg', counter) %>">
            <td class="topic"><%= schedule_topic_jumper(schedule) %></td>
            <td><%= strap_schedule(schedule, start_hour) %></td>
            <% (start_hour+1..end_hour).each do |hour| %>
              <td></td>
            <% end %>
          </tr>
          <% counter += 1 %>
        <% end %>
      </table>
    </div>
  <% else %>
    <div class="text">
      <%= t 'common.coming_soon' %>
    </div>
  <% end %>
<% end %>

<%= render 'layouts/header',
  first_header: false,
  number: 3,
  id: 'schedule',
  title: t('page.schedule.title'),
  right_box: nil,
  content: content
%>
