<% content = capture do %>
  <% if @speakers.size > 0 %>
    <% @speakers.each do |speaker| %>
      <div class="speaker_container" id="speaker_<%= speaker.id %>">
        <div class="left">
          <%= speaker_photo(speaker.photo.thumb) %>
        </div>
        <div class="right">
          <h2><%= speaker.name %></h2>
          <div class="text">
            <%= text(speaker.description) %>
            <% speaker.schedules.each do |schedule| %>
              <div class="schedule_topic_container">
                <span class="schedule_times"><%= schedule_times(schedule) %></span>
                <strong><%= schedule.topic %></strong>
                <div class="description"><%= text(schedule.description) %></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="text">
      <%= t 'common.coming_soon' %>
    </div>
  <% end %>
<% end %>

<%= render 'layouts/header',
  first_header: false,
  number: 2,
  id: 'speakers',
  title: t('page.speakers.title'),
  right_box: nil,
  content: content
%>
