<% content = capture do %>
  <div class="text">
    <%= mail_to 'maria@hackerspace-krk.pl', t('page.what_where_how.become_a_sponsore'), encode: :javascript %>
  </div>

  <h2 id="sponsors"><%= t 'page.sponsors_and_partners.sponsors' %> GOLD</h2>
  <div class="text">
    ...
  </div>

  <h2><%= t 'page.sponsors_and_partners.sponsors' %> SILVER</h2>
  <div class="text">
    <%= banner('sponsors/img_logo_hays.gif', 'http://hays.pl') %>
    <%= banner('sponsors/motorola_solutions.png', 'http://www.motorolasolutions.com') %>
    <%# banner('sponsors/logo_fs_basic.png', 'http://futuresimple.com') %>
    <%# banner('sponsors/team_doo_logo.png', 'http://doo.net') %>
  </div>

  <h2><%= t 'page.sponsors_and_partners.sponsors' %> BRONZE</h2>
  <div class="text">
    <%= banner('sponsors/unerdwear.jpg', 'http://unerdwear.com') %>
    <%= banner('sponsors/akra_polska.png', 'http://akra.net') %>
  </div>

  <h2 id="partners"><%= t 'page.sponsors_and_partners.partners' %></h2>
  <div class="text">
    <%= banner('partners/mobilization_friend.png', 'http://mobilization.pl') %>
    <%= banner('partners/webook.png', 'http://www.webook.pl', 'Społeczność czytelników książek. Książki są także dla informatyków!') %>
    <%= banner('partners/galiciajewishmuseum.gif', 'http://www.galiciajewishmuseum.org') %>
    <%= banner('partners/crossweb.png', 'http://crossweb.pl') %>
    <%= banner('partners/rafaltrzop.png', 'http://rafaltrzop.com') %>
    <%= banner('partners/webmuses.png', 'http://webmus.es') %>
    <%= banner('partners/geek_girls_carrots.png', 'http://geekgirlscarrots.pl', 'Geek Girls Carrots') %>
    <%= banner('partners/pjug_logo.jpg', 'http://www.java.pl', 'Polish Java User Group') %>
    <%= banner('partners/ksug.jpeg', 'http://www.meetup.com/Krakow-Scala-User-Group/', 'Krakow Scala User Group') %>
    <%= banner('partners/mobilecentraleurope.png', 'http://mobilecentraleurope.com', 'Mobile Central Europe Conference') %>
    <%= banner('partners/ockrk.png', 'http://www.ockrk.co', 'Open Coffee KRK') %>
    <%= banner('partners/gdg_berlin_android.jpg', 'http://android-in-berlin.de', 'GDG Berlin Android') %>
  </div>
<% end %>

<%= render 'layouts/header',
  first_header: false,
  number: 6,
  id: 'sponsors_and_partners',
  title: t('page.sponsors_and_partners.title'),
  right_box: nil,
  content: content
%>
