<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow,all" />
    <title><%= t 'meta.title' %></title>
    <meta name="description" content="<%= t 'meta.description' %>" />
    <meta name="keywords" content="<%= t 'meta.keywords' %>" />
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <span id="top_hook"></span>
    <span id="top_second_hook"></span>
    <div class="container">
      <div class="container_inner">
        <div id="arrow_container">
          <div id="arrow_container_inner">
            <div id="arrow"></div>
          </div>
        </div>
        <div class="logo_div">
          <div class="choose_language"><%# choose_language() %></div>
          <!--
          <div class="call_for_papers">
            <div><%= t 'logo.call_for_papers_html' %></div>
            <a href="https://docs.google.com/spreadsheet/viewform?formkey=dG56Z1hmU1ZRNFEyNkNhMTFMLThaX3c6MQ" class="button"><%= t 'logo.call_for_papers_button' %> <span class="aquo_big">&rsaquo;</span></a>
          </div>
          -->
        </div>
        <%= yield %>
      </div>
    </div>

    <div class="footer">
      <div class="footer_container">
        <div class="footer_inner">
          <div class="text_left">
            KrakDroid.pl | <%= t 'footer.text_left' %>
          </div>
          <div class="text_right">
            &copy; All rights reserved | Design by <%= link_to 'Rafał Trzop', 'http://www.rafaltrzop.com', target: '_blank' %> | Coding by <%= link_to 'Artur Trzop', 'http://www.webook.pl', target: '_blank' %>
          </div>
        </div>
      </div>
    </div>

    <% if Rails.env.production? %>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1985994-34']);
        _gaq.push(['_trackPageview']);

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();

       </script>
     <% end %>
     <!-- facebook -->
     <div id="fb-root"></div>
     <script>(function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
       fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));</script>

     <!-- google plus -->
     <!-- Place this tag after the last +1 button tag. -->
     <script type="text/javascript">
       (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
    </body>
  </html>
